<div class="header">
  <div class="museum-name">The Metropolitan Museum of Art Collection</div>
  
  <div class="buttons-div">
  <div class="language-button">
  <button class="btn btn-outline-light" (click) = "en()"> EN </button>
  <button class="btn btn-outline-light" (click) = "ka()"> KA </button>
  <br>
  <!-- <button > Go To Auth </button> -->
  <!-- <button [routerLink] = "''">Go To Content</button>
   -->
   <!-- <button [routerLink] = "['content']"> Go To Content
    </button> -->
   
  </div>

  <div class="auth-div">
    
       <button class="btn btn-light btn btn-primary btn-lg" (click) = "goToSignIn()"> 
        {{ "auth.SIGN_IN" | translate }}
        </button>
       <button class="btn btn-light btn btn-primary btn-lg" (click) = "goToSignUp()"> 
        {{ "auth.SIGN_UP" | translate }}
        </button>
    
        <!-- <button *ngIf="isLoggedIn" type="button" (click)="signOut()">
        {{ "auth.SIGN_OUT" | translate }}
        </button> -->
   
  </div>
  </div>
</div>






